<div class="container-fluid">
	{{> header }}

	<h1>
	  {{#each  alert }}  {{this.title }} {{/each }} 
	</h1>

	<div class="row {{page.title}}">
	    <div class="col-lg-4">{{md 'src/templates/markdown/cheatsheet.md'}}</div>
	    <div class="col-lg-4">{{#asdf}}{{/asdf}}</div>
	    <div class="col-lg-4">
	    	<ul  class ="people-list"> 
  			{{#each  people }} 
  				<li > {{this }} </li > 
  			{{/each  }} 
			</ul >
		</div>
	</div>

	<div class="row {{page.title}}">
	    <div class="col-lg-4">.col-lg-4</div>
	    <div class="col-lg-4">.col-lg-4</div>
	    <div class="col-lg-4">.col-lg-4</div>
	</div>

	<div class="row {{page.title}}">
	    <div class="col-md-4">.col-md-4</div>
	    <div class="col-md-4">.col-md-4</div>
	    <div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row {{page.title}}">
	    <div class="col-sm-4">.col-sm-4</div>
	    <div class="col-sm-4">.col-sm-4</div>
	    <div class="col-sm-4">.col-sm-4</div>
	</div>
	<div class="row {{page.title}}">
	    <div class="col-xs-4">.col-xs-4</div>
	    <div class="col-xs-4">.col-xs-4</div>
	    <div class="col-xs-4">.col-xs-4</div>
	</div>
	<div class="row {{page.title}}">
	    <div class="col-xxs-4">.col-xxs-4</div>
	    <div class="col-xxs-4">.col-xxs-4</div>
	    <div class="col-xxs-4">.col-xxs-4</div>
	</div>
	

	<div class="row {{page.title}}">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-3">.col-md-3</div>
  	</div>
  	<div class="row {{page.title}}">
        <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
        <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
    </div>
    <div class="row {{page.title}}">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    </div>
	<!--</div>-->
</div>